@import "reset.css";

body{
    background-color: wheat;
}

.main{
    display:flex;
    flex-direction: column;

    width:100%;
    height:100vh;

}

.main-header{
    margin-right: 40px;
    background-color: cyan;

    width:100%;
    height:30px;

    position:fixed;
    top:0px;

}

.main-body{
    display:flex;
    
    width:100%;
    height:100vh;
}

.layout-reverse{
    flex-direction: row-reverse;
}

.main-body--layoutone{
    display:flex;
    flex-direction: column;

    width:50%;
    height:100%;
    background-color: yellow;
}

.main-body--layouttwo{
    display:flex;
    flex-direction: column;

    width:50%;
    height:100%;
    background-color: tomato;
}